{# src/Pixel/BlogBundle/Resources/views/Blog/index.html.twig #}

{% extends "PixelBlogBundle::layout.html.twig" %}
 

{% block title %} Acceuil - {{ parent() }}  {% endblock %}
    
{% block body %}
    <h2>Liste des articles</h2>
    <hr/>
    
     {% for article in listeArticles %}
        <article>
              <div class="well">
                  <h4><a href="{{ path('blog_voir', {'id': article.id, 'titre': article.titre|url_encode()} ) }}"> {{ article.titre }}</a></h4>
                  <p>  {{ article.content }} </p>
              </div>
              
              <div class="alert alert-info">
                <div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
            </div>
              
        </article>
    
        <hr/>
    {% endfor %}
    
    
    {% if nbrPage > 1 %}
        <ul class="pagination">
            <li><a href="#">&laquo;</a></li>
            {% for p in range(1, nbrPage) %} {# renge : creer un tab entre 1 et nbrPage - Tres pratique <3 #}
                <li{% if p == page %} class="active"{% endif %}>
                <a href="{{ path('blog_accueil', {'page': p}) }}">{{ p }}</a>
                </li>
            {% endfor %}
            <li><a href="#">&raquo;</a></li>
        </ul>
  {% endif %}
    
{% endblock %}